<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sixoverground.bittypic"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <uses-feature android:name="android.hardware.camera"/>

  <application
      android:name=".BittypicApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

    <activity
        android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <activity
        android:name="com.facebook.CustomTabActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="@string/fb_login_protocol_scheme"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".MainActivity"
        android:theme="@style/FullscreenTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".FacebookLoginActivity"
        android:theme="@style/FullscreenTheme.NoActionBar">
    </activity>
    <activity
        android:name=".HomeActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".CameraActivity"
        android:label="@string/title_activity_camera"
        android:parentActivityName=".HomeActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".HomeActivity"/>
    </activity>
    <activity
        android:name=".EditPhotoActivity"
        android:label="@string/title_activity_camera"
        android:parentActivityName=".CameraActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".CameraActivity"/>
    </activity>
    <activity
        android:name=".FindFriendsActivity"
        android:label="@string/title_activity_find_friends"
        android:parentActivityName=".HomeActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".HomeActivity"/>
    </activity>
  </application>

</manifest>